openapi: 3.1.0
info:
  title: AOA API v1
  description: Agentic Operating Account API - Pan-Asia Payment Platform
  version: 1.0.0
  contact:
    name: AOA Team
    email: support@aoa.example.com
  license:
    name: Proprietary
    url: https://aoa.example.com/license

servers:
  - url: https://api.aoa.io/api/v1
    description: Production
  - url: http://localhost:8000/api/v1
    description: Development (local)

paths:
  /agents:
    post:
      summary: Create a new agent
      operationId: createAgent
      tags:
        - Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - status
                - kya_status
              properties:
                name:
                  type: string
                  minLength: 1
                status:
                  type: string
                  enum: [ACTIVE, INACTIVE, SUSPENDED, REVOKED]
                kya_status:
                  type: string
                  enum: [PENDING, VERIFIED, REJECTED, EXPIRED]
                kya_data:
                  type: object
      responses:
        "201":
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          description: Invalid request
        "500":
          description: Internal server error

    get:
      summary: List all agents
      operationId: listAgents
      tags:
        - Agents
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/Agent"
                  total:
                    type: integer
        "400":
          description: Invalid query parameters
        "500":
          description: Internal server error

  /accounts:
    post:
      summary: Create a new account
      operationId: createAccount
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - account_type
                - status
              properties:
                agent_id:
                  type: string
                  format: uuid
                account_type:
                  type: string
                  enum: [OPERATING, SETTLEMENT, ESCROW, RESERVE]
                status:
                  type: string
                  enum: [ACTIVE, FROZEN, CLOSED, SUSPENDED]
      responses:
        "201":
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "400":
          description: Invalid request
        "500":
          description: Internal server error

    get:
      summary: List all accounts
      operationId: listAccounts
      tags:
        - Accounts
      parameters:
        - name: agent_id
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
                  total:
                    type: integer
        "400":
          description: Invalid query parameters
        "500":
          description: Internal server error

  /capabilities:
    post:
      summary: Create a new capability
      operationId: createCapability
      tags:
        - Capabilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - action
                - amount_limit_sgd_cents
                - counterparty_scope
                - ttl_seconds
                - max_frequency_per_hour
                - revocable
              properties:
                agent_id:
                  type: string
                  format: uuid
                action:
                  type: array
                  items:
                    type: string
                    enum: [TRANSFER, PAYMENT, WITHDRAWAL, DEPOSIT, DISPUTE, REFUND]
                  minItems: 1
                amount_limit_sgd_cents:
                  type: integer
                  minimum: 1
                counterparty_scope:
                  type: array
                  items:
                    type: string
                  minItems: 1
                ttl_seconds:
                  type: integer
                  minimum: 1
                max_frequency_per_hour:
                  type: integer
                  minimum: 1
                revocable:
                  type: boolean
      responses:
        "201":
          description: Capability created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Capability"
        "400":
          description: Invalid request
        "500":
          description: Internal server error

  /payments:
    post:
      summary: Initiate a payment transaction
      operationId: initiatePayment
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - from_account_id
                - to_account_id
                - amount_sgd_cents
                - reference
              properties:
                agent_id:
                  type: string
                  format: uuid
                from_account_id:
                  type: string
                  format: uuid
                to_account_id:
                  type: string
                  format: uuid
                amount_sgd_cents:
                  type: integer
                  minimum: 1
                reference:
                  type: string
                  minLength: 1
      responses:
        "201":
          description: Payment initiated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
        "400":
          description: Invalid request
        "402":
          description: Insufficient funds
        "403":
          description: Capability check failed
        "500":
          description: Internal server error

  /decisions:
    get:
      summary: Get decision records
      operationId: getDecisions
      tags:
        - Decisions
      parameters:
        - name: transaction_id
          in: query
          schema:
            type: string
            format: uuid
        - name: agent_id
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of decision records
          content:
            application/json:
              schema:
                type: object
                properties:
                  decisions:
                    type: array
                    items:
                      $ref: "#/components/schemas/DecisionRecord"
                  total:
                    type: integer
        "400":
          description: Invalid query parameters
        "500":
          description: Internal server error

  /disputes:
    post:
      summary: Create a dispute case
      operationId: createDispute
      tags:
        - Disputes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction_id
                - agent_id
                - reason
              properties:
                transaction_id:
                  type: string
                  format: uuid
                agent_id:
                  type: string
                  format: uuid
                reason:
                  type: string
                  minLength: 1
                evidence:
                  type: object
      responses:
        "201":
          description: Dispute case created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisputeCase"
        "400":
          description: Invalid request
        "500":
          description: Internal server error

    get:
      summary: List dispute cases
      operationId: listDisputes
      tags:
        - Disputes
      parameters:
        - name: agent_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [OPEN, UNDER_REVIEW, RESOLVED, CLOSED, ESCALATED]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of dispute cases
          content:
            application/json:
              schema:
                type: object
                properties:
                  disputes:
                    type: array
                    items:
                      $ref: "#/components/schemas/DisputeCase"
                  total:
                    type: integer
        "400":
          description: Invalid query parameters
        "500":
          description: Internal server error

components:
  schemas:
    Agent:
      type: object
      required:
        - id
        - name
        - status
        - kya_status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
        status:
          type: string
          enum: [ACTIVE, INACTIVE, SUSPENDED, REVOKED]
        kya_status:
          type: string
          enum: [PENDING, VERIFIED, REJECTED, EXPIRED]
        kya_data:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Account:
      type: object
      required:
        - id
        - agent_id
        - account_type
        - status
        - balance_sgd_cents
        - currency
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        account_type:
          type: string
          enum: [OPERATING, SETTLEMENT, ESCROW, RESERVE]
        status:
          type: string
          enum: [ACTIVE, FROZEN, CLOSED, SUSPENDED]
        balance_sgd_cents:
          type: integer
          minimum: 0
        currency:
          type: string
          enum: [SGD]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Capability:
      type: object
      required:
        - id
        - agent_id
        - action
        - amount_limit_sgd_cents
        - counterparty_scope
        - ttl_seconds
        - max_frequency_per_hour
        - revocable
        - non_transferable
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        action:
          type: array
          items:
            type: string
            enum: [TRANSFER, PAYMENT, WITHDRAWAL, DEPOSIT, DISPUTE, REFUND]
          minItems: 1
        amount_limit_sgd_cents:
          type: integer
          minimum: 1
        counterparty_scope:
          type: array
          items:
            type: string
          minItems: 1
        ttl_seconds:
          type: integer
          minimum: 1
        max_frequency_per_hour:
          type: integer
          minimum: 1
        revocable:
          type: boolean
        non_transferable:
          type: boolean
          enum: [true]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Transaction:
      type: object
      required:
        - id
        - agent_id
        - from_account_id
        - to_account_id
        - amount_sgd_cents
        - status
        - reference
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        from_account_id:
          type: string
          format: uuid
        to_account_id:
          type: string
          format: uuid
        amount_sgd_cents:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [INITIATED, AUTHORIZED, HELD, RELEASING, SETTLED, REFUNDED, DISPUTED]
        reference:
          type: string
          minLength: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DecisionRecord:
      type: object
      required:
        - id
        - transaction_id
        - agent_id
        - input_snapshot
        - policy_version
        - model_version
        - reason_codes
        - outcome
        - trace_id
        - created_at
      properties:
        id:
          type: string
          format: uuid
        transaction_id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        input_snapshot:
          type: object
          description: Full input state at decision time
        policy_version:
          type: integer
          minimum: 0
        model_version:
          type: string
          minLength: 1
        reason_codes:
          type: array
          items:
            type: string
          minItems: 1
        outcome:
          type: string
          enum: [APPROVED, REJECTED, ESCALATED]
        override_actor:
          type:
            - string
            - "null"
          format: uuid
        trace_id:
          type: string
          minLength: 1
        created_at:
          type: string
          format: date-time

    DisputeCase:
      type: object
      required:
        - id
        - transaction_id
        - agent_id
        - status
        - reason
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        transaction_id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [OPEN, UNDER_REVIEW, RESOLVED, CLOSED, ESCALATED]
        reason:
          type: string
          minLength: 1
        evidence:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
